<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clinic Registration</title>
</head>
<body>
    <h1>Pendaftaran Berhasil Anda Berhasil, wahai {{name}} dengan email: {{person}}</h1>
    <p>Verfikasi email anda!</p>
    <a href={{ 'http://127.0.0.1:3333/verify-email?token=' + token }}>Verify Email</a>
</body>
</html>